body{
    margin: 0;
    display: flex;
    flex-direction: column;
    /* background-color: #ffc2d1; */
}
.intro{
    background-image: url(images/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}

.intro-text{
    margin-left :71%;
    margin-top:18%;
    font-size: 30px;
    font-weight: bolder;
    font-style: oblique;
}

.intro h2{
    margin-left: 10%;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

h3{
    padding: 10px;
    font-size: 60px;
    font-family: "Tangerine", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

h6{
    font-size: 10px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 33%;
    margin-left: 55%;
}

.quote{
    margin: 40px;
    display: flex;
    width: auto;
    height: auto;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    /* background-color: #ffe5ec; */
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2); */
    align-items: center;
    padding: 30px;
}

.text{
    font-size: large;
    text-align: justify;
    padding: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    padding-top: 30px;
    width: 240px;;
    float: left;
    border-radius: 50%;
}

.gallery-container{
    position: relative;
    width:100%;
    margin: auto;
    overflow: hidden;
}

.gallery{
    overflow-x: auto;
    scroll-behavior: smooth; 
    display: flex;
    gap: 20px;
    /* padding: 10px; */
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.gallery img{
    border-radius: 0%;
    width: 300px;
    height: 200px;
    object-fit: cover;
    scroll-snap-align: center;
}

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 1;
}

.arrow:hover{
    background: rgba(0, 0, 0, 0.7);
}

.arrow-left{
    left:5px;
}

.arrow-right{
    right: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.buttons a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    background: black;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    font-weight: bold;
    transition: 0.3s;
}

.buttons a:hover {
    background: #f5f5f5;
}

footer{
    background-color: rgb(246, 166, 247);
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}


.gallery::-webkit-scrollbar {
    display: none;
}